
nav {
  margin-top: 40px;
}

nav li {
    display: inline-block;
    font-size: 25px;
    padding: 0px;
    font-weight: bold;
  }

.titlepage {
    text-align: center;
  }


.commcharts {
    font-size: 18px;
  }

.mainpage {
    background-image:
    linear-gradient(to right, rgba(255,255,255,0.9) 20%, rgba(255,255,255,1)),
    url("../../static/media/earth.jpg");
  }
