{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}

{% block title %}{% endblock %}
{% block app_content %}
<html lang="en">
<head>
  <div class="container">
  <div class="col-md-6">
    <div class="row">
   <meta charset="utf-8" />
   <title>Currency Value per {{ form.language.data }} </title>

   <!-- import plugin script -->
   <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>

</head>
<body>

<div class="container">
  <div class="col-md-10">
    <div class="row">

      <h1>{% if form.validate_on_submit() %}
        Currency Value per {{ form.language.data }}
          {% else %}
          Currency Value Per US Dollar
          {% endif %}
      </h1>
      <!-- bar chart canvas element -->
      <canvas id="chart" width="700" height="600"></canvas>

      <script>
       // bar chart data
       var barData = {
             labels : [{% for item in labels %}
                            "{{item}}",
                        {% endfor %}],
             datasets : [
                {
                      fillColor: "rgba(151,187,205,0.2)",
                      strokeColor: "rgba(151,187,205,1)",
                      pointColor: "rgba(151,187,205,1)",
                      pointStrokeColor: "#fff",
                      pointHighlightFill: "#fff",
                      pointHighlightStroke: "rgba(151,187,205,1)",
                      bezierCurve : false,
                      data : [{% for item in values %}
                                "{{ "%.2f"|format(item|float) }}",
                              {% endfor %}]
                }]
            }


          Chart.defaults.global.animationSteps = 50;
          Chart.defaults.global.tooltipYPadding = 16;
          Chart.defaults.global.tooltipCornerRadius = 0;
          Chart.defaults.global.tooltipTitleFontStyle = "normal";
          Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
          Chart.defaults.global.animationEasing = "easeOutBounce";
          Chart.defaults.global.responsive = false;
          Chart.defaults.global.scaleLineColor = "black";
          Chart.defaults.global.scaleFontSize = 16;

         // get bar chart canvas
         var mychart = document.getElementById("chart").getContext("2d");

         steps = 20
         max = {{values | max }}
         // draw bar chart
        var LineChartDemo = new Chart(mychart).Line(barData, {
             scaleOverride: true,
             scaleSteps: steps,
             scaleStepWidth: (Math.ceil(max) / steps),
             scaleStartValue: 0,
             scaleShowVerticalLines: true,
             scaleShowGridLines : true,
             barShowStroke : true,
             scaleShowLabels: true,
             bezierCurve: false,
      });


       </script>
     </div>
  </div>

  <div class="col-md-2">
    <div class="row">
      {{ wtf.quick_form(form) }}
    </div>
  </div>

</body>
</div>
</html>

{% endblock %}
